html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Alchemist;
  src: url(fonts/Alchemist\ Serif\ Font.otf);
}

a:hover {
  color: lightsteelblue;
}

.landingImg {
  background-image: url("images/landing1.jpg");
  height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 20px 0px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
  display: block;
}

.title {
  font-size: 60px;
  font-family: Alchemist;
}

.header {
  margin: 30px 30px 70px 30px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.nav {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: Alchemist;
  margin: 7px;
}

.border-bottom {
  border-bottom: black solid;
}

#nav-icon {
  font-size: 30px;
  margin: 3px;
}

.series-name {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-family: Alchemist;
  margin-top: 40px;
}

.disrupted {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 40px;
}

.D {
  margin-bottom: 10px;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  width: 27rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TN-container {
  margin-top: 100px;
  margin-bottom: 75px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.NB {
  margin-bottom: 10px;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  width: 27rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
  font-size: 20px;
  margin-top: 5px;
}

.bio-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
  font-size: 20px;
}

.paragraph {
  margin-bottom: 30px;
}

.bottom-paragraph {
  margin-bottom: 20px;
}

#headshot {
  background-image: url("images/headshot.jpg");
  height: 550px;
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blurb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 75px 0px 75px;
}

.blurb {
  font-size: 20px;
  padding: 0px 0px 50px 0px;
  font-style: italic;
}

.blurb-link {
  margin-left: 5px;
  text-decoration: none;
  color: #800000;
  font-weight: 700;
  margin-left: 3px;
}

#space {
  margin-left: 8px;
}

.book-blurb {
  text-align: center;
  font-family: Alchemist;
  font-size: 35px;
  margin-top: 20px;
}

.publications {
  text-decoration: none;
  color: #800000;
  font-weight: 700;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  gap: 70px;
}

.book-cover {
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  margin-top: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-el {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 70px;
}

#contact {
  text-align: center;
  font-size: 25px;
  font-family: Alchemist;
  width: 500px;
}

.fa-instagram {
  color: darkslategray;
  text-decoration: none;
}

.fa-amazon {
  color: darkslategray;
  text-decoration: none;
}

.social {
  text-decoration: none;
}

#instagram {
  margin-left: 620px;
}

#amazon {
  margin-right: 620px;
}

#copyright-container {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#copyright {
  font-family: Alchemist;
}

#c {
  margin-top: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
  }
  .landingImg {
    width: 100% auto;
    height: 350px;
  }
  .nav {
    margin: 5px;
  }
  .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bio {
    width: 80%;
  }
  #headshot {
    width: 80%;
    margin-top: 10px;
  }
  .book-blurb {
    font-size: 25px;
  }
  #contact {
    width: 70%;
  }
}

@media screen and (max-width: 912px) {
  .landingImg {
    width: 100% auto;
    height: 700px;
  }
}

@media screen and (max-width: 820px) {
  .landingImg {
    width: 100% auto;
    height: 550px;
  }
} 

@media screen and (max-width: 540px) {
  .landingImg {
    width: 100% auto;
    height: 350px;
  }
}

@media screen and (max-width: 414px) {
  .landingImg {
    width: 100% auto;
    height: 280px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
  }
  .nav-container {
    margin-top: 10px;
  }

.title {
  font-size: 40px;
}
.nav {
  font-size: 20px;
}
#nav-icon {
  display: none;
}
.bio{
  text-align: justify;
  text-justify: inter-word;
}
.blurb-container {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  justify-content: center;
}
.blurb {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.book-cover {
  width: 100%;
  height: 125px;
}
}

@media screen and (max-width: 390px) {
  .landingImg {
    width: 100% auto;
    height: 275px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
  }
  .nav-container {
    margin-top: 10px;
  }

.title {
  font-size: 40px;
}
.nav {
  font-size: 20px;
}
.blurb-container {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  justify-content: center;
}
.blurb {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.book-cover {
  width: 100%;
  height: 125px;
}
}

@media screen and (max-width: 375px) {
  .landingImg {
    width: 100% auto;
    height: 250px;
  }
  .header-container {
    gap: 3px;
    margin-bottom: 0px;
  }
  .title {
    font-size: 40px;
  }
  .bio-container {
    margin-top: 0px;
  }
  .nav-container {
    margin-top: 10px;
  }
  .nav {
    gap: 2px;
  }

  #nav-icon {
    display: none;
  }

  .bio {
    text-align: justify;
    text-justify: inter-word;
  }

  .blurb-container {
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .blurb {
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
  }

  .book-cover {
    width: 100%;
    height: 125px;
  }
}

@media screen and (max-width: 280px) {
  .header {
    margin-bottom: 40px;
  }
  .title {
    font-size: 30px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav {
    font-size: 15px;
    margin: 3px;
  }
  #nav-icon {
    display: none;
  }
  .landingImg {
    width: 100% auto;
    height: 175px;
  }
  #contact {
    width: 70%;
    font-size: 15px;
  }
  .footer {
    margin-top: 20px;
  }

  .bio-container {
    margin-top: 0px;
    justify-content: center;
  }

  .bio {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
  }
  #headshot {
    width: 150px;
    height: 225px;
  }
  .series-name {
    font-size: 20px;
  }

  .disrupted {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
  }

  .D {
    margin: 25px 15px;
    width: 250px;
    height: 250px;
  }

  .videos {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .new-book {
    margin-top: 0px;
  }

  .NB {
    margin-left: 30px;
    margin-right: 30px;
    width: 80%;
    margin-top: 20px;
  }
  .blurb-container {
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .blurb {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
  }

  .book-cover {
    width: 100%;
    height: 125px;
  }
  .nav-container {
    margin-top: 5px;
  }
} */ */
